@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<<<<<<< HEAD
=======
    <a href="/Koi" class="btn btn-primary">Koi</a>
    @* <a href="/KoiAjax" class="btn btn-primary">Koi With Ajax</a> *@
>>>>>>> 81fcc215b9c844daf39756cd748c800ac49d2a70
</div>
