@page
@model KoiCareSys.WebApp.Pages.KoiRecordPage.UpdateModel
@{
}
<!-- Container -->
<div id="container">
    <div class="shell">
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>
            <!-- Content -->
            <div id="content">
                <!-- Box -->
                <div class="box">
                    <!-- End Box Head -->
                    <div class="row">
                        <div class="col-md-4">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Request.Id" />

                                <div class="form-group">
                                    <label asp-for="Request.KoiId" class="control-label"></label>
                                    <input asp-for="Request.KoiId" class="form-control" />
                                    <span asp-validation-for="Request.KoiId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Request.Physique" class="control-label"></label>
                                    <input asp-for="Request.Physique" class="form-control" />
                                    <span asp-validation-for="Request.Physique" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Request.Weight" class="control-label"></label>
                                    <input asp-for="Request.Weight" class="form-control" />
                                    <span asp-validation-for="Request.Weight" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Request.Length" class="control-label"></label>
                                    <input asp-for="Request.Length" class="form-control" />
                                    <span asp-validation-for="Request.Length" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Request.RecordAt" class="control-label"></label>
                                    <input asp-for="Request.RecordAt" class="form-control" type="datetime" value="@DateTime.UtcNow" />
                                    <span asp-validation-for="Request.RecordAt" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Request.DevelopmentStageId" class="control-label"></label>
                                    <input asp-for="Request.DevelopmentStageId" class="form-control" />
                                    <span asp-validation-for="Request.DevelopmentStageId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Box -->
            </div>
            <!-- End Content -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- Main -->
    </div>
</div>
<!-- End Container -->